<form>

    <!--Text-->
    <fieldset>
        <legend>Datos del Usuario</legend>
        <!-- Etiqueta / Campo "Nombre" -->
        <div class="form-group row">
            <label for="name" class="col-3">Nombre</label>
            <input type="text" class="form-control col-9" name="name" id="name" [(ngModel)]="contacto.name" required placeholder="Indica tu nombre (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Apellidos"-->
        <div class="form-group row">
            <label for="lastname" class="col-3">Apellidos</label>
            <input type="text" class="form-control col-9" id="lastname" name="lastname" [(ngModel)]="contacto.lastname" required placeholder="Indica tu apellido (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Correo"-->
        <div class="form-group row">
            <label for="eMail" class="col-3">Correo</label>
            <input type="email" class="form-control col-9" id="eMail" name="eMail" [(ngModel)]="contacto.email" required placeholder="Indica tu email (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Telefono"-->
        <div class="form-group row">
            <label for="phoneNumber" class="col-3">Teléfono</label>
            <input type="text" class="form-control col-9" id="phoneNumber" name="phoneNumber" [(ngModel)]="contacto.phoneNumber" required pattern="^[9|6]{1}([\d]{2}[-]*){3}[\d]{2}$" placeholder="9xx-xx-xx-xx (es obligatorio)">
        </div>
    </fieldset>

    <!--Select/options -->
    <fieldset class="form-group">
        <!--Etiqueta / Campo "Grupo"-->
        <legend>Grupo</legend>
        <div class="form-group row">
            <select class="form-control" id="grupo" name="grupo" [(ngModel)]="contacto.grupo"> 
              
              <option *ngFor="let grupo of grupos" [ngValue]="grupo">{{ grupo.nombre }}</option>
              <!-- Se sustituye por la CONST del maestro de datos con la directiva ngFor
              <option>Familia</option>
              <option>Amigos</option>
              <option>Negocios</option>
              <option>Trabajo</option>
              <option>Otros</option>-->
          </select>
        </div>
    </fieldset>

    <div class="optional row">

        <!--Radio-Buttos-->
        <fieldset class="form-group col">
            <!--Etiqueta / Campo "Sector laboral"-->
            <legend>Sector laboral</legend>
            <div *ngFor="let sector of sectores" class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input"
                      name ="sector" id="tecnico" 
                      value="tecnico">
                  {{ sector.nombre }}
              </label>
            </div>

        </fieldset>

        <!--Checkbox-->
        <fieldset class="form-group col">
            <legend>Aficiones</legend>
            <div class="form-check">
                <label class="form-check-label">
              <input type="checkbox"  class="form-check-input"
                  id="lectura" name="lectura">
                  Lectura
              </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
              <input type="checkbox"  class="form-check-input"
                  id="musica" name="musica"> 
                  Música</label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
              <input type="checkbox"  class="form-check-input"
                  id="deporte" name="deporte"> 
                  Deporte</label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
              <input type="checkbox"  class="form-check-input"
                  id="viajar" name="viajar"> 
                  Viajar</label>
            </div>
        </fieldset>
    </div>


    <div class="form-group row">
        <button type="submit" class="btn btn-primary mr-2">
          Enviar</button>
        <button type="button" class="btn btn-primary">
          Borrar</button>
    </div>
</form>

{{ contacto | json }}