<div class="container">
    <nav class="row">
        <ul class="col nav nav-pills">
            <li class="nav-item nav-link">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#" routerLinkActive="active">Tareas</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#" routerLinkActive="active">Contactos</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#" routerLinkActive="active">Libros</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
            </li>
        </ul>

    </nav>
</div>