<div class="container">
    <nav class="row">
        <ul class="col nav nav-pills">
            <li class="nav-item nav-link">
                <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Tareas</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Contactos</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Libros</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </nav>
</div>