<div class="card">
    <div class="card-header">
        <h4 class="card-title">Saludo Referencias</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="userName">Nombre</label>
            <input type="text" #nombre class="form-control" name="userName" id="userName" placeholder="">
        </div>
        <p class="card-text">Text</p>
        <!-- Es necesario perder el FOCO para que se actualice el valor del input-->
        <button (click)="nombre.value = nombre.value">SALUDAR</button>
        <button (click)="nombre.value = ''">BORRAR</button>
    </div>
    <div class="card-footer text-muted">
        Hola {{ nombre.value }}
    </div>
</div>